body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #FFEFD5;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px 150px 10px 150px;
	border-radius: 15px;
}

h1 {
	font-size: 24px;
 }
