body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #a4c5f9;
}

h1 {
	font-size: 12px;
  font-family: Palatino, 'Palatino Linotype', serif;
}
{p {border-style: double;}
}
